# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# Pytest
.cache/
*.pytest_cache/

# macOS
.DS_Store

# Logs
*.log

# Migrations (optional if using alembic)
migrations/

# Jupyter Notebooks (optional)
.ipynb_checkpoints/
